![](../../../src/logo.svg)

**© Jesús López**

Follow him on **[LinkedIn](https://linkedin.com/in/jsulopz)** or **[Twitter](https://twitter.com/jsulopz)**

<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

# #01 | The pandas Series object

In [5]:
import seaborn as sns #! starting object
import pandas as pd

pd.set_option('display.min_rows', 4)
pd.set_option('display.max_rows', 10)

df_football = pd.read_json('football_players_stats.json', orient='index')
df_football

             Matches  Goals  Assists  ...  Yellows2  Minutes    Birthday
CR7              923    689      231  ...         4    75372  1985-02-05
Messi            800    679      312  ...         0    65299  1987-06-24
Lewandowski      662    498      131  ...         1    65299  1988-08-21
Benzema          737    370      182  ...         0    52245  1987-12-19

[4 rows x 8 columns]

The `DataFrame` is composed by a set of `Series`; naming for the column.

In [6]:
df_football.Birthday

CR7            1985-02-05
Messi          1987-06-24
Lewandowski    1988-08-21
Benzema        1987-12-19
Name: Birthday, dtype: object

In [7]:
type(df_football.Birthday)

pandas.core.series.Series

## The Series

![](Series.jpg)

In [8]:
df_football.Birthday.index

Index(['CR7', 'Messi', 'Lewandowski', 'Benzema'], dtype='object')

In [9]:
df_football.Birthday.name

'Birthday'

In [10]:
df_football.Birthday.dtype

dtype('O')

In [11]:
df_football.Birthday.values

array(['1985-02-05', '1987-06-24', '1988-08-21', '1987-12-19'],
      dtype=object)

## The DataFrame

![](DataFrame.jpg)

In [12]:
df_football.index

Index(['CR7', 'Messi', 'Lewandowski', 'Benzema'], dtype='object')

In [13]:
df_football.values

array([[923, 689, 231, 112, 7, 4, 75372, '1985-02-05'],
       [800, 679, 312, 82, 1, 0, 65299, '1987-06-24'],
       [662, 498, 131, 68, 0, 1, 65299, '1988-08-21'],
       [737, 370, 182, 15, 0, 0, 52245, '1987-12-19']], dtype=object)

In [14]:
df_football.columns

Index(['Matches', 'Goals', 'Assists', 'Yellows', 'Reds', 'Yellows2', 'Minutes',
       'Birthday'],
      dtype='object')