![](../../src/logo.svg)

**© Jesús López**

Follow him on **[LinkedIn](https://linkedin.com/in/jsulopz)** or **[Twitter](https://twitter.com/jsulopz)**

<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

# #03 | Why 64 in float64?

In [1]:
import seaborn as sns #! starting object
import pandas as pd

pd.set_option('display.min_rows', 4)
pd.set_option('display.max_rows', 10)

df_tips = sns.load_dataset('tips')
df_tips.total_bill = df_tips.total_bill.astype(str)
df_tips

    total_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
..         ...   ...     ...    ...   ...     ...   ...
242      17.82  1.75    Male     No   Sat  Dinner     2
243      18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

We converted the `total_bill` values dtype into a `float`:

In [2]:
df_tips.total_bill.astype(float)

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

But we got `float64`, why are they using the 64? What's the meaning of it?

- Computers treats the information at its core with 0s and 1s.

In [9]:
import numpy as np

np.uint8(257)

1

In [10]:
np.uint8(255)

255

In [11]:
np.uint8(256)

0

Why Python is reseting the counter when the number surpasses the limit of 255?

- You could make up to 256 (0 - 255) combinations of 0s and 1s with 8 boxes.

_ _ _ _  _ _ _ _

0000 0000 #0
0000 0001 #1
0000 0011 #2
...
0100 1111 #134
...
1111 1110 #254
1111 1111 #255

Computing 2 to the 8th, we can see how many combinations we can get:

In [14]:
2**8

256

If we had just 2 bits:

_ _

We could make up to 4 combinations that would reference other objects:

00 #0 
01 #1
10 #2
11 #3

The ASCII Code works the same way to interpret the characters of the alphabet:

![](ascii-binary-chart.gif)

How is this happening inside the computer?

<a href="http://www.youtube.com/watch?feature=player_embedded&v=Xpk67YzOn5w" target="_blank">
 <img src="http://img.youtube.com/vi/Xpk67YzOn5w/hqdefault.jpg" alt="Watch the video" width="560" height="315"/>
</a>