![](../../../src/logo.svg)

**© Jesús López**

Follow him on **[LinkedIn](https://linkedin.com/in/jsulopz)** or **[Twitter](https://twitter.com/jsulopz)**

<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

# #04 | What does it happen inside the computer when you overwrite the instance?

In [1]:
import seaborn as sns #! starting object
import pandas as pd

pd.set_option('display.min_rows', 4)
pd.set_option('display.max_rows', 10)

df_tips = sns.load_dataset('tips')
df_tips.total_bill = df_tips.total_bill.astype(str)
df_tips

    total_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
..         ...   ...     ...    ...   ...     ...   ...
242      17.82  1.75    Male     No   Sat  Dinner     2
243      18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

An instance is a box in the memory of the computer:

![](numpy_vs_python.png)

We wanted to sum the values of the following object. Once the `Series values` are interpreted as a numerical object as follows:

In [5]:
df_tips.total_bill.astype(float)

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

We thought we could sum the values:

In [6]:
df_tips.total_bill.sum()

'16.9910.3421.0123.6824.5925.298.7726.8815.0414.7810.2735.2615.4218.4314.8321.5810.3316.2916.9720.6517.9220.2915.7739.4219.8217.8113.3712.6921.719.659.5518.3515.0620.6917.7824.0616.3116.9318.6931.2716.0417.4613.949.6830.418.2922.2332.428.5518.0412.5410.2934.819.9425.5619.4938.0126.4111.2448.2720.2913.8111.0218.2917.5920.0816.453.0720.2315.0112.0217.0726.8625.2814.7310.5117.9227.222.7617.2919.4416.6610.0732.6815.9834.8313.0318.2824.7121.1628.9722.495.7516.3222.7540.1727.2812.0321.0112.4611.3515.3844.322.4220.9215.3620.4925.2118.2414.3114.07.2538.0723.9525.7117.3129.9310.6512.4324.0811.6913.4214.2615.9512.4829.88.5214.5211.3822.8219.0820.2711.1712.2618.268.5110.3314.1516.013.1617.4734.341.1927.0516.438.3518.6411.879.787.5114.0713.1317.2624.5519.7729.8548.1725.013.3916.4921.512.6616.2113.8117.5124.5220.7631.7110.5910.6350.8115.817.2531.8516.8232.917.8914.489.634.6334.6523.3345.3523.1740.5520.6920.930.4618.1523.115.6919.8128.4415.4816.587.5610.3443.1113.013.5118.7112.7413.016.420.5316.4726.5938.7324.2712.7630.0625.8948.3313.2728.1712.928.1511.597.7430.1412.1613.428.5815.9813.4216.2710.0920.4513.2822.1224.0115.6911.6110.7715.5310.0712.632.8335.8329.0327.1822.6717.8218.78'

But it's concatenating the values as if it was a `dtype: object`. Not a `dtype: float64`. It is normal because we haven't change the object stored within the instance of `df_tips.total_bill`. It still remains a `dtype: object` as you may observe below:

In [8]:
df_tips.total_bill

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: object

Let's take a snapshot of the `instance address`:

In [17]:
hex(id(df_tips.total_bill))

'0x160025ac0'

In [18]:
df_tips.total_bill = df_tips.total_bill.astype(float)

In [19]:
df_tips.total_bill

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

Let's take a snapshot of the overwritten `instance address`:

In [20]:
hex(id(df_tips.total_bill))

'0x15c347e50'

![](<overwriting the instance.jpg>)

Now that it is different, it means that the object stored in `df_tips.total_bill` has changed to a new `instance address` for optimization; different objects don't need the same ammount of space in the memory of the computer.

Anyways, we can now sum up the values:

In [21]:
df_tips.total_bill.sum()

4827.77