![](../../src/logo.svg)

**© Jesús López**

Follow him on **[LinkedIn](https://linkedin.com/in/jsulopz)** or **[Twitter](https://twitter.com/jsulopz)**

<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

<font size="+5">#01 | Change Series Dtype</font>

# The Challenge

<div class="alert alert-info">
    How much income the restaurant generated?
</div>

In [ ]:
import seaborn as sns #!
import pandas as pd

pd.set_option('display.min_rows', 4)
pd.set_option('display.max_rows', 10)

df_tips = sns.load_dataset('tips')
df_tips.total_bill = df_tips.total_bill.astype(str)
df_tips

    total_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
..         ...   ...     ...    ...   ...     ...   ...
242      17.82  1.75    Male     No   Sat  Dinner     2
243      18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# The Covered Solution

In [ ]:
?? #! read the full story to find out the solution

4827.77

# Resolving Python Method

<div class="alert alert-success">
    <b>Step 1. Understand the problem</b>
    <ol>
        <li>Describe the data you are working with</li>
        <li>Explain how you will develop the solution</li>
    </ol>
</div>

<div class="alert alert-success">
    <b>Step 2. Sketch the <code>end object</code></b>
    <br><br>Type down how the end object will look like
</div>

454 dollars #!

<div class="alert alert-success">
    <b>Step 3. The <code>starting object</code></b>
    <ol>
        <li>Which object will you use to apply the Resolving Python Method?</li>
        <li>Which <code>type()</code> of object is it?</li>
    </ol>
</div>

<div class="alert alert-success">
    <b>Step 4. The <code>function()</code></b>
    <br><br>Apply the <a href="https://gitlab.com/python-resolvers/python-resolver-discipline/-/blob/main/01_Know%20How/01_Resolving%20Python%20Method.md">Resolving Python Method</a> to find the function that solves your problem
</div>

<div class="alert alert-danger">
    Understand why Python is not doing what you expect and reformulate the problem
</div>

<div class="alert alert-warning">
    <a href="Curiosity x Learning/FILENAME.ipynb">
        <b>Apply Curiosity ↗︎</b>
    </a>
    <br>Curiosity Concept
</div>