# How much income the restaurant generated?

In [10]:
import seaborn as sns #!
import pandas as pd

pd.set_option('display.min_rows', 4)
pd.set_option('display.max_rows', 10)

df_tips = sns.load_dataset('tips')
df_tips.total_bill = df_tips.total_bill.astype(str)
df_tips

    total_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
..         ...   ...     ...    ...   ...     ...   ...
242      17.82  1.75    Male     No   Sat  Dinner     2
243      18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Apply the [Python Resolver Method](https://gitlab.com/python-resolvers/python-resolver-discipline/-/blob/main/01_Know%20How/01_Resolving%20Python%20Method.md) to solve problems

<div class="alert alert-success">
    <b>Step 1.</b> Understand the problem
</div>

- Every row of the dataset represents the transactions at the tables of a restaurant
- The `Series total_bill` is the amount people at a table paid
- We need to sum up these values

<div class="alert alert-success">
    <b>Step 2.</b> Sketch the <b>end <code>object</code></b>
</div>

454 dollars

<div class="alert alert-success">
    <b>Step 3.</b> The <b>starting <code>object</code></b>
</div>

In [11]:
df_tips.total_bill

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: object

<div class="alert alert-success">
    <b>Step 4.</b> Look for the <code>function()</code> to obtain the end object
</div>

In [12]:
df_tips.total_bill.sum()

'16.9910.3421.0123.6824.5925.298.7726.8815.0414.7810.2735.2615.4218.4314.8321.5810.3316.2916.9720.6517.9220.2915.7739.4219.8217.8113.3712.6921.719.659.5518.3515.0620.6917.7824.0616.3116.9318.6931.2716.0417.4613.949.6830.418.2922.2332.428.5518.0412.5410.2934.819.9425.5619.4938.0126.4111.2448.2720.2913.8111.0218.2917.5920.0816.453.0720.2315.0112.0217.0726.8625.2814.7310.5117.9227.222.7617.2919.4416.6610.0732.6815.9834.8313.0318.2824.7121.1628.9722.495.7516.3222.7540.1727.2812.0321.0112.4611.3515.3844.322.4220.9215.3620.4925.2118.2414.3114.07.2538.0723.9525.7117.3129.9310.6512.4324.0811.6913.4214.2615.9512.4829.88.5214.5211.3822.8219.0820.2711.1712.2618.268.5110.3314.1516.013.1617.4734.341.1927.0516.438.3518.6411.879.787.5114.0713.1317.2624.5519.7729.8548.1725.013.3916.4921.512.6616.2113.8117.5124.5220.7631.7110.5910.6350.8115.817.2531.8516.8232.917.8914.489.634.6334.6523.3345.3523.1740.5520.6920.930.4618.1523.115.6919.8128.4415.4816.587.5610.3443.1113.013.5118.7112.7413.016.420.5316.4726.5938.7324.2712.7630.0625.8948.3313.2728.1712.928.1511.597.7430.1412.1613.428.5815.9813.4216.2710.0920.4513.2822.1224.0115.6911.6110.7715.5310.0712.632.8335.8329.0327.1822.6717.8218.78'

<div class="alert alert-danger">
    Understand why Python is not doing what you expect and reformulate the problem
</div>

- The `Series` object is concatenating the values, not adding them up.
- The <b>values of the <code>Series</code></b> are interpreted as <code>dtype: object</code>; normally interpreted as a <code>string</code>. They aren't interpreted as numbers.

In [13]:
df_tips.total_bill

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: object

<div class="alert alert-warning">
    <a href="concepts to learn/01-the-object-in-pandas.ipynb"><b>Apply Curiosity →</b></a> Importance of the object's <code>type</code>
</div>

- We should have a `numerical dtype`

In [15]:
df_tips.total_bill.astype(float)

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

<div class="alert alert-warning">
    <a href="concepts to learn/02-why-float64.ipynb"><b>Apply Curiosity →</b></a> Why <code>64</code> in <b>float64</b>?
</div>

In [16]:
df_tips.total_bill.sum()

'16.9910.3421.0123.6824.5925.298.7726.8815.0414.7810.2735.2615.4218.4314.8321.5810.3316.2916.9720.6517.9220.2915.7739.4219.8217.8113.3712.6921.719.659.5518.3515.0620.6917.7824.0616.3116.9318.6931.2716.0417.4613.949.6830.418.2922.2332.428.5518.0412.5410.2934.819.9425.5619.4938.0126.4111.2448.2720.2913.8111.0218.2917.5920.0816.453.0720.2315.0112.0217.0726.8625.2814.7310.5117.9227.222.7617.2919.4416.6610.0732.6815.9834.8313.0318.2824.7121.1628.9722.495.7516.3222.7540.1727.2812.0321.0112.4611.3515.3844.322.4220.9215.3620.4925.2118.2414.3114.07.2538.0723.9525.7117.3129.9310.6512.4324.0811.6913.4214.2615.9512.4829.88.5214.5211.3822.8219.0820.2711.1712.2618.268.5110.3314.1516.013.1617.4734.341.1927.0516.438.3518.6411.879.787.5114.0713.1317.2624.5519.7729.8548.1725.013.3916.4921.512.6616.2113.8117.5124.5220.7631.7110.5910.6350.8115.817.2531.8516.8232.917.8914.489.634.6334.6523.3345.3523.1740.5520.6920.930.4618.1523.115.6919.8128.4415.4816.587.5610.3443.1113.013.5118.7112.7413.016.420.5316.4726.5938.7324.2712.7630.0625.8948.3313.2728.1712.928.1511.597.7430.1412.1613.428.5815.9813.4216.2710.0920.4513.2822.1224.0115.6911.6110.7715.5310.0712.632.8335.8329.0327.1822.6717.8218.78'

<div class="alert alert-danger">
    Understand why Python is not doing what you expect and reformulate the problem
</div>

- We haven't changed/overwritten the object within the `instance`
- We may still watch below the <code>dtype: object</code>

In [17]:
df_tips.total_bill

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: object

- Let's overwrite the instance ↓

In [22]:
df_tips.total_bill = df_tips.total_bill.astype(float)

In [23]:
df_tips.total_bill

0      16.99
1      10.34
       ...
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

- Now the values of the `Series` are `dtype: float64`
- They are interpreted as numbers

<div class="alert alert-warning">
    <a href="concepts to learn/03-overwrite-the-instance.ipynb"><b>Apply Curiosity →</b></a> What does it happen inside the computer when you <b>overwrite the instance</b>?
</div>

- Therefore, we can add the values up ↓

In [25]:
df_tips.total_bill.sum()

4827.77

In [26]:
df_tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object