![](../../src/logo.svg)

**© Jesús López**

Follow him on **[LinkedIn](https://linkedin.com/in/jsulopz)** or **[Twitter](https://twitter.com/jsulopz)**

<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

<font size="+5">#01 | Change Series Dtype</font>

# The Challenge

<div class="alert alert-info">
    How much income the restaurant generated?
</div>

In [1]:
import seaborn as sns #!
import pandas as pd

pd.set_option('display.min_rows', 4)
pd.set_option('display.max_rows', 10)

df_tips = sns.load_dataset('tips')
df_tips.total_bill = df_tips.total_bill.astype(str)
df_tips

    total_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
..         ...   ...     ...    ...   ...     ...   ...
242      17.82  1.75    Male     No   Sat  Dinner     2
243      18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# The Covered Solution

In [ ]:
?? #! read the full story to find out the solution

4827.77

# Syllabus for the [Notebook](01script_functions.ipynb)

1. Importance of the object's type
2. Why 64 in float64?
3. What does it happen inside the computer when you overwrite the instance?
4. DataFrame.dtypes